* {
  font-family: "Roboto";
}

.newscrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(230, 230, 230);
}

.newscrollbar::-webkit-scrollbar-thumb {
  background: #c084fc;
  border-radius: 50px;
}
